@font-face {
    font-family: peyda;
    src: url("../Peyda.font/Peyda/02-Farsi_Namerals/WebFonts/fonts/woff/PeydaWebFaNum-Medium.woff") format('woff');
    src: url("../Peyda.font/Peyda/02-Farsi_Namerals/WebFonts/fonts/woff2/PeydaWebFaNum-Medium.woff2") format('woff2');
    src: url("../Peyda.font/Peyda/02-Farsi_Namerals/TTF/PeydaFaNum-Medium.ttf") format('ttf');
    src: url("../Peyda.font/Peyda/02-Farsi_Namerals/TTF/PeydaFaNum-Black.ttf") format('ttf');
    font-style: normal;
    font-weight: normal;
}

